# Entorno virtual y caché
env/
venv/
__pycache__/
*.py[cod]
*.pyo

# Base vectorial local
chroma_neuro_db/
chroma_neuro_db_backup/
chroma_neuro_db_temp/

# Control de versiones
.git/
.gitignore

# Variables locales sensibles
.env

# Archivos de desarrollo
*.ipynb
*.md
Avance2_*

# macOS / IDEs
.DS_Store
.vscode/
*.log
